@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
@import "../module/**/*"


body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

p
	color #6d6680
	margin: 0
	margin-bottom: 25px
	line-height: 1.6

.main-cont
	center(1200px,10px)

.card
	box-shadow 0 10px 25px rgba(28, 0, 74, 0.1)
	border-radius 14px


.head
	+below(768px)
		padding-bottom: 0px
	+below(640px)
		padding-top: 0
	background-color #8c6dcb
	background-image linear-gradient(to top, rgba(104, 75, 212, 0.7) 0%, rgba(157, 119, 195, 0.7) 100%)
	position: relative
	padding-top: 20px
	padding-bottom: 55px

.wave-bg

	position: absolute
	width: 100%
	height: 100%
	left: 0
	top: 0
	background-image: url(../img/pattern.png)
	background-size: 180px
	opacity .3
.head-wave
	+below(768px)
		height: 20px
		bottom: 0px
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom
	+below(640px)
		background-size: 120%
	position: absolute
	width: 100%
	height: 30px
	left: 0px
	bottom: 0
	background-image: url(../img/head.svg)
	background-size:130%
	background-position: -1px 0
.header
	+below(640px)
		margin-bottom: 10px
	flex(between)
	margin-bottom: 25px
.header-phone
	+below(768px)
		display: none
	f()
	justify-content: center
	align-items: center
.header-phone__icon
	round()
	flex(mid)
	size 55px
	border 1px solid white
	margin-right: 20px
	.icon
		fill white!important
		size 20px
//.header-phone__info
.header-phone__numb
	color white
	font-size: 20px
	margin-bottom: 5px
	display: inline-block
	&:hover
		color white
.header-phone__callback
	@extend .type--main
	text-decoration: underline
	color white
	opacity .5
.header-logo
	.icon
		+below(640px)
			width: 50px
			height: 90px
		fill white
		width: 90px
		height: 135px
.header-personal
	f()
	align-items: center
.header-login
	flex(between)
.header-login__icon
	+below(768px)
		display: none
	round()
	flex(mid)
	tr(all)
	cp()
	size 55px
	border 1px solid white
	margin-right: 20px
	&:hover
		background: white
		.icon
			fill $purple
	.icon
		tr(all)
		fill white
		size 20px
.header-basket
	+below(768px)
		padding: 0
		size 50px
		flex(mid)
		-webkit-touch-callout: none
		-webkit-user-select: none
		-khtml-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		highlight-color: rgba(255, 255, 255, 0);
		&:focus
			outline: none !important
	+below(640px)
		size 40px
	flex(between)
	cp()
	tr(all)
	box-shadow 0 2px 6px rgba(124, 92, 205, 0.31)
	border-radius 27px
	background-color #ffffff
	padding: 15px 25px 15px 15px
	position: relative
.header-basket--active
	border-radius 27px 27px 0 0
.header-basket__icon
	+below(768px)
		margin-right: 0
	margin-right: 15px
	flex(mid)
	z-index 5
	.icon
		+below(640px)
			size 17px
		width: 32px
		height: 24px
		fill black
.header-basket__price
	+below(768px)
		display: none
	color #3d315b
	font-family Pusia
	z-index 5
	font-size 18px
	font-weight 700
.header-basket__val
	+below(640px)
		size 24px
		font-size: 8px
	round()
	flex(mid)
	position: absolute
	top -5px
	right: 0
	color white
	size 28px
	border 3px solid #ffffff
	background-color #d13434
	font-size: 12px
	line-height: 10px
.header__nav-cont
	+below(768px)
		display: none
	center(960px,0)
	+above(768px)
		display: block !important
.header__nav
	+below(768px)
		fw()
	flex(between)
.header__nav-el
	+below(1024px)
		padding: 10px 20px
		font-size: 16px
	+below(768px)
		width: 100%
		text-align: center
	color #ffffff
	font-family Roboto
	font-size 18px
	border-radius 20px
	padding: 10px 25px
	tr(all)
	&:hover
		color white
		background-color rgba(255, 255, 255, 0.2)
.header__nav-el--active
	background-color rgba(255, 255, 255, 0.2)

.header-basket--empty
	round()
	flex(mid)
	cp()
	tr(all)
	padding: 0
	size 55px
	border 1px solid white
	background: none
	border-radius 27px
	&:hover
		background: white
		.icon
			fill $purple
	.icon
		tr(all)
		fill white
		size 20px
	.header-basket__price,
	.header-basket__val
		display: none
	.header-basket__icon
		margin: 0


.basket
	+below(640px)
		position: fixed
		width: 100%
		top 0
		border-radius 0
		height 100vh
		overflow: scroll
		padding: 20px
		z-index 10
	@extend .card
	position: absolute
	background: white
	width: 480px
	right: 0
	top 20px
	padding: 40px 10px 55px 30px
	z-index 3
	display: none
.basket__title
	font-size: 28px
	color #9c94b1
	margin-bottom: 10px
.basket__list
	+below(640px)
		max-height: calc(100vh - 310px)
	max-height: 490px
	position: relative
	height: auto
.basket--close
	+above(641px)
		display: none
	cp()
	position: absolute
	top 20px
	right: 20px
	z-index 10
	.icon
		size 15px

.basket__el
	+below(640px)
		fw()
		padding: 15px 0
		margin-right: 0
	f()
	justify-content: space-between
	padding: 25px 0px 25px 0
	border-bottom 1px solid #e3e3e3
	margin-right: 30px
.basket__el-img
	+below(640px)
		size 80px
		margin: 0 auto
	size 65px
	bg-full()
.basket__el-inf
	+below(640px)
		height: auto
		overflow: initial
		max-height initial
		width: 100%
		text-align: center
		margin: 10px 0
	@extend .type--main
	width: 170px
	line-height: 1.6
	max-height 70px
	overflow: hidden
.basket__el-val
	+below(640px)
		width: 100%
		align-items: center
		margin-top: 10px
	f()
	fl()
.basket__el-price
	color #6d6680
.basket__el-incr
	margin-top: auto
.basket__total
	+below(640px)
		margin: 15px
		font-size: 20px
	up()
	text-align: center
	font-size: 28px
	margin: 40px 0
	font-family Pusia
	letter-spacing 3px
//.basket__get

.incr
	+below(768px)
		margin-bottom: 20px
	f()
	justify-content: space-between
	position relative
	width 100px
.incr__nav
	flex(mid)
	size 30px
	.icon
		size 15px
		fill #b3b3b3
	&:hover
		cp()
		border 0
		.icon
			fill black
.incr__val
	flex(mid)
	position relative
	tr(all)
	color #372f4b
	font-family Pusia
	font-size 18px
	line-height: 1
	margin-top: -3px
	padding: 0 15px

.ps.ps--active-x > .ps__scrollbar-x-rail, .ps.ps--active-y > .ps__scrollbar-y-rail
	background-color #f6f6f6

.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y, .ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y
	width: 5px
.ps > .ps__scrollbar-y-rail
	width: 7px

.ps__scrollbar-y-rail
	opacity: 0.6!important

.ps__rail-y
	opacity: 0.6!important

.basket__get
	+below(640px)
		fw()
		flex(mid)
		fl()
	flex(between)
	.btn--md
		+below(640px)
			width 300px
			padding: 10px
			&:first-child
				margin-bottom: 10px
		width: 48%


//modal
.modal-layer
	width: 100%
	height: 100%
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	//transition all 1s // duration for fade
	opacity 0
	overflow auto
	background: rgba(0,0,0,0.5)
	text-align: center
	//padding: 20px 0
	&:before
		display: inline-block
		vertical-align: middle
		width: 0
		height: 100%
		content: ''
		margin-right: -8px


.modal-layer-show
	+below(640px)
		padding: 0
	visibility: visible
	opacity 1
	//transition opacity 1.4s
	padding: 60px 0
	overflow-x hidden
.modal
	box-shadow 0 2px 4px rgba(0, 0, 0, 0.24)
	display: inline-block
	vertical-align: middle
	transform translateY(-20%)
	height: 1px
	margin: -1px
	width: 1px
	padding: 0
	clip rect(0 0 0 0)
	opacity: 0
	@extend .card
	overflow hidden
.modal.modal__show
	overflow initial
	transform translateY(0%)
	height: auto
	clip initial
	margin:0
	opacity: 1
	width: auto
	//transition all 1.2s

.modal-content
	+below(768px)
		width:initial
		max-width 320px
		min-width 98vw
	br(15px)
	width: 600px
	position: relative
	background: white
	text-align: initial
.modal-close
	+below(640px)
		top 20px
		right 20px
		z-index 10
	position: absolute
	top -40px
	right -40px
	cp()
	.icon
		&:hover
			fill white
			tr(all)
		+below(768px)
			size 18px
		size 24px
		fill rgba(255, 255, 255, 0.51)

//modal===end

.modal-title
	@extend .type--lg
	text-align: center
	color white

.modal-head
	+below(640px)
		.wave-bg
			display: none
		background-image: none
	padding: 35px 0  45px 0
	background-color #8c6dcb
	background-image linear-gradient(to top, rgba(104, 75, 212, 0.7) 0%, rgba(157, 119, 195, 0.7) 100%)
	border-radius 15px 15px 0 0
	position: relative
	margin-bottom: -2px

.modal-info
	+below(640px)
		padding: 20px
	padding: 30px 50px 70px 50px
.input-row
	input
		width: 100%
.input-row-title
	@extend .type--main
	margin-bottom: 10px

.pass-text--mid
	@extend .type--main
	text-align: center
	margin-top: 20px
	margin-bottom: 35px
	
.btn-row--mid
	flex(mid)

.modal-blur
	filter blur(20px)
	//tr(all)

.modal-head-wave
	+below(768px)
		bottom -8px
	position: absolute
	width: 100%
	height: 15px
	left: 0px
	bottom: -1px
	background-image: url(../img/footer.svg)
	background-size:120%
	background-repeat: no-repeat
	background-position: -2px 0

.cont
	+below(768px)
		padding-top: 20px
	background: #f2eff8
	padding-bottom:110px
	flex-grow:1
	padding-top: 35px
//.cont
//.main-cont

.main-list
	+below(768px)
		grid-template-columns: repeat(2, 1fr)
	+below(640px)
		grid-template-columns: repeat(1, 1fr)
		max-width: 360px
		margin-right: auto
		margin-left: auto
		margin-top: 20px
	display grid
	grid-template-columns: repeat(3, 1fr)
	grid-gap: 20px
	margin-top: 40px

.main-list__el
	+below(768px)
		padding: 30px
	@extend .card
	flex(mid)
	fl()
	tr(all)
	background: white
	padding: 50px
	&:hover
		transform scale(1.03)
.main-list__el-img
	width: 100%
.main-list__el-img-el
	bg-full()
	background-size: contain
	padding: 35% 20%
	margin-bottom: 40px
.main-list__el-title
	color $title-color
	font-family Pusia
	font-size 28px
	font-weight 700
	margin-bottom: 15px
	line-height: 1
.main-list__el-text
	@extend .type--main
.main-list__long
	+below(768px)
		grid-column: 1/3
	+below(640px)
		grid-column: 1/2
		fw()
	@extend .card
	flex(between)
	tr(all)
	background: white
	padding: 50px
	grid-column: 2/4
	&:hover
		transform scale(1.03)
.main-list__long-img
	+below(640px)
		width: 100%
		margin-bottom: 20px
	width: 35%
	margin-right: 5%
.main-list__long-cont
	+below(640px)
		width: 100%
		margin-bottom: 20px
	width: 60%
.main-list__long-title
	+below(640px)
		text-align: center
	color $title-color
	font-family Pusia
	font-size 28px
	margin-bottom: 10px
.main-list__long-text
	@extend .type--main
	line-height: 1.6

.footer-cont
	position: relative
//.main-cont
.footer
	+below(768px)
		padding: 20px 0
	+below(640px)
		fw()
	padding: 70px 0
	f()
	justify-content: space-between
	align-items: flex-start
.footer-wave
	position: absolute
	width: 100%
	height: 30px
	left: 0px
	top: -30px
	background-image: url(../img/footer.svg)
	background-size:cover
.footer__info
	+below(640px)
		width: 100%
		margin-bottom: 20px
		flex(mid)
		fl()
	width: 165px
.footer__info-text
	line-height: 1.6
	margin-bottom: 15px
.footer__info-offer
	+below(640px)
		margin-bottom: 0
	@extend .type--main
	text-decoration: underline
	margin-bottom: 45px
	display: inline-block
.footer-soc-row
	+below(640px)
		display: none
	f()
.footer-soc-row__el
	round()
	flex(mid)
	tr(all)
	size 30px
	background: #7f7f7f
	margin-right: 20px
	&:hover
		background: darken(#7f7f7f,10)
	.icon
		size 20px
		fill white
.footer__nav
	+below(768px)
		display: none
	flex(between)
	fw()
	width: 40%
.footer__nav-el
	@extend .type--main
	width: 48%
	text-decoration: underline
	margin-bottom: 20px
	tr(all)
.footer__cont
	+below(640px)
		center(260px,20px)
		width: 100%
		flex(mid)
		fl()
.footer__pay
	flex(between)
	margin-bottom: 30px
	padding-bottom: 30px
	border-bottom 1px solid $border-color
.footer__pay-icon
	size 50px
	flex(mid)
	round()
	margin-right: 20px
	background: $purple
	.icon
		size 30px
		fill white
//.footer__pay-text
.footer__phone
	font-family Pusia
	font-size 20px
	display: inline-block
	margin-bottom: 10px

.footer__callback
	color #00b4ff
	font-family Roboto
	@extend .type--main
	font-weight 400

.incr__val-coner
	margin-left: 5px


.slider-el
	color white
	flex(mid)
	display flex!important
	margin 10px 0

//for custom navigation
.slider-wrap
	+below(768px)
		margin-top:0px
	position: relative
	//transform translateY(-50%)
	//margin-top: -15vw
	margin-top: -265px
.slider-control
	+below(1025px)
		display: none!important
	round()
	flex(mid)
	tr(all)
	size 40px
	background: white
	position: absolute
	top 50%
	margin-top: -20px
	box-shadow 4px 8px 7px rgba(63, 31, 146, 0.11)
	z-index 2
	cp()
	&:hover
		background: $red
		.icon
			fill black
	.icon
		tr(all)
		size 14px
		fill #8c71d3

.slider-control--left
	left -20px
	transform rotate(180deg)
	.icon
		margin-left: 4px
.slider-control--right
	right -20px
	.icon
		margin-left: 4px
.content--main
	.head
		+below(1024px)
			height: 470px
		+below(768px)
			height: auto
			max-height: initial
		height: 500px
		//height: 45vw
		max-height 510px
.content
	display: flex
	min-height: 100vh
	flex-direction: column

.filter
	+below(768px)
		display: none
	flex(mid)
	padding-bottom: 20px
	border-bottom 1px solid #d4cee1
.filter__el
	color #9388af
	font-size: 20px
	padding: 0 15px
	tr(all)
	&:hover
		color #372f4b
.filter__el--active
	color #372f4b

.filter-mobile
	+above(769px)
		display: none
	height: 50px
	flex(mid)
.page-title
	+below(1024px)
		font-size: 38px
	+below(768px)
		font-size: 22px
		padding: 20px 0
	color #372f4b
	font-family Pusia
	font-size 50px
	font-weight 900
	text-transform uppercase
	letter-spacing 8px
	text-align: center
	padding: 45px 0

.lists
	+below(1024px)
		max-width: 768px
		margin-right: auto
		margin-left: auto
		position: relative
		grid-template-columns: repeat(2, 1fr)
	+below(640px)
		grid-template-columns: repeat(1, 1fr)
		max-width: 360px
		margin-right: auto
		margin-left: auto
		margin-top: 15px
	display grid!important
	grid-template-columns: repeat(3, 1fr)
	grid-gap: 20px
.list-el
	+below(640px)
		padding: 40px 20px
	@extend .card
	tr(all)
	cp()
	background: white
	padding: 50px 35px
	&:hover
		transform scale(1.03)
//.list-el__cont
//.list-el__img
.list-el__img-el
	bg-full()
	background-size: contain
	padding: 35% 20%
	margin-bottom: 40px
.list-el__title
	@extend .type--md
	text-align: center
	margin-bottom: 20px
	up()
.list-el__descr
	opacity 0.8
	color #6d6680
	@extend .type--main
	text-align: center
	line-height: 1.6
	margin-bottom: 40px
.list-el__get
	+below(1024px)
		font-size: 14px
	@extend .btn--md
	@extend .btn--light
	flex(between)
	font-size: 18px
	padding: 18px 30px
	.icon
		size 15px
		fill #7d5dcf
//.list-el__price
//.list-el__arrow
//.icon



.detail
	+below(768px)
		margin-top: 0
	@extend .card
	background: white
	margin-bottom: 20px
	margin-top: -140px
.header-back
	flex(mid)
	padding: 25px 0
	border-bottom 1px solid #d4cee1
	&:hover
		.icon
			fill darken(#9388af,20)
		.header-back__text
			color darken(#9388af,20)

.header-back--light
	+below(640px)
		padding-top: 0

.header-back__icon
	.icon
		tr(all)
		size 20px
		fill #9388af
		margin-right: 15px
.header-back__text
	+below(768px)
		font-size: 16px
	tr(all)
	color #9388af
	font-size: 20px
.detail__content
	+below(768px)
		padding: 40px 20px
	padding: 35px 6% 110px 6%
.detail__title
	+below(768px)
		margin-bottom: 0
	@extend .page-title
	text-align: center
	padding: 0
	margin-bottom: 55px
.detail__wrap
	+below(768px)
		fw()
	f()
	justify-content: space-between
.detail__img
	+below(768px)
		width: 100%
	width: 35%
.detail__img-el
	+below(768px)
		margin: 20px 0
		background-size: contain
		padding: 20%
	+below(640px)
		size 250px
		margin: 20px auto
	width: 100%
	padding: 50% 20%
	bg-full()
	margin-top: 15%
.detail__info
	+below(768px)
		width: 100%
		flex(mid)
		fl()
	width: 50%
.detail_text
	+below(768px)
		margin-bottom: 0
	@extend .type--main
	opacity 0.8
	color #6d6680
	line-height: 1.6
	margin-bottom: 40px
.detail__descr
	+below(768px)
		margin-bottom: 20px
	margin-bottom: 60px
.detail-row
	margin-bottom: 20px
.detail-row__title
	display table-cell
	white-space nowrap
	@extend .type--main
.detail-row__dot
	display table-cell
	border-bottom 1px dotted gray
	width 100%
	opacity .3
.detail-row__value
	display table-cell
	white-space nowrap
	opacity 0.8
	color #6d6680
	font-family Roboto
	@extend .type--main

.detail__get
	+below(768px)
		font-size: 14px
		padding: 20px
		width: 100%
	display: inline-block
	up()
	margin: 0 auto

.content--up
	.head
		+below(768px)
			height: auto
		height: 360px


.news
	+below(1024px)
		max-width: 768px
		margin-right: auto
		margin-left: auto
		position: relative;
		grid-template-columns: repeat(2, 1fr)
	+below(768px)
		grid-template-columns: repeat(1, 1fr)
		max-width: 480px;
	display grid
	grid-template-columns: repeat(3, 1fr)
	grid-gap: 20px

.news-el
	@extend .card
	tr(all)
	cp()
	overflow hidden
	background: white
	&:hover
		transform scale(1.03)
.news-el__content
	+below(640px)
		padding: 20px
	padding: 35px 35px 70px 35px
//.news-el__cont
.news-el__img
	width: 100%
	position: relative
.news-el__date
	+below(768px)
		margin-bottom: 10px
	color #a7a0b5
	font-family Roboto
	@extend .type--sm
	margin-bottom: 25px
.news-el__img-el
	bg-full()
	background-size: cover
	padding: 40%
.news-el__title
	+below(768px)
		font-size: 22px
	@extend .type--md
	font-size: 26px
	margin-bottom: 20px
.news-el__descr
	opacity 0.8
	color #6d6680
	@extend .type--main
	line-height: 1.6

.page-title--head
	padding-top: 0

.news-el--long
	+below(768px)
		grid-column: 1/2
	grid-column: 1/3
	.news-el__img-el
		+below(768px)
			padding: 40%
		padding: 19.5%

.detail__date
	+below(768px)
		text-align: center
		margin-bottom: 20px
	@extend .type--sm
	up()
	color #a7a0b5

.detail--news
	.detail__title
		+below(768px)
			text-align: center
		text-align: left
	.detail__img
		+below(768px)
			width: 100%
			margin-top: 20px
		width: 48%
	.detail__img-el
		+below(768px)
			width: 100%
			padding: 40% 20%
			background-size: cover
		margin-top: 0

.cart__title
	+below(640px)
		padding: 40px 0
	@extend .page-title

.cart
	+below(768px)
		max-width:640px
		margin-left: auto
		margin-right: auto
	f()
	fw()
	justify-content:space-between
	align-items: flex-start
.cart-wrap
	+below(768px)
		width: 100%
		order 2
	width: 68%
.cart__list
	+below(640px)
		padding: 40px 20px
		margin-bottom: 40px
	@extend .card
	background: white
	padding: 40px 40px 55px 40px
	margin-bottom: 75px
.cart__el
	flex(between)
.cart__el
	+below(768px)
		flex(mid)
		fl()
	&:first-child
		margin-top: -20px
	f()
	justify-content: space-between
	padding: 25px 0px 25px 0
	border-bottom 1px solid #e3e3e3
.cart__img
	+below(768px)
		margin-right: 0
		size 200px
		margin-bottom: 20px
	size 100px
	bg-full()
	margin-right: 10%
.cart__content
	+below(768px)
		width: 100%
		text-align: center
		flex(mid)
		fl()
		margin-bottom: 20px
	@extend .type--main
	width: 45%
	line-height: 1.6
.cart__price
	margin-top: 20px
.basket__el-price
	color #6d6680
.basket__el-incr
	margin-top: auto
//.cart__img
//.cart__img-el
//.cart__content
.cart__descr
	+below(768px)
		max-width 270px
//.cart__price
.cart__icnr
	+below(768px)
		margin-left:initial
	margin-left:auto

.cart-get
	fw()
	flex(mid)
	margin-top: 35px
	.btn--light
		margin-right: 20px
	.btn--md
		+below(768px)
			padding: 20px
		+below(640px)
			width: 100%
			font-size: 14px
			margin-right: 0!important
			margin-bottom: 20px
.cart__total
	+below(768px)
		width: 100%
		order 1
		margin-bottom: 20px
	@extend .card
	background: white
	width: 30%
	position: relative
	overflow hidden
//.wave-bg
//.head-wave
.cart__total-head
	padding: 50px 0px 70px 0
	background-color: #7d5dcf;
	background-image: linear-gradient(to top, rgba(104, 75, 212, 0.64) 0%, rgba(157, 119, 195, 0.64) 100%);
	position: relative
.cart__total-title
	text-align: center
	up()
	color #ac8bff
	font-family Pusia
	@extend .type--md
	margin-bottom: 40px
.cart__val
	flex(mid)
.cart__cost
	color #ffffff
	font-family Pusia
	font-size 50px
	text-transform uppercase
	letter-spacing 5px
.cart__text
	color #ffffff
	font-family Pusia
	@extend .type--main
	margin-top: 4px
	margin-left: 5px
.cart__total-get
	+below(768px)
		padding: 20px 0
	flex(mid)
	padding: 40px 0
	font-size: 18px
	.btn--md
		width: 250px
//.btn--icon
//.nav-icon
.cart-wave
	position: absolute
	width: 120%
	height: 20px
	left: -2px
	bottom: -1px
	background-image: url(../img/footer.svg)
	background-size:cover
	background-repeat: no-repeat
.cart-deliver
	+below(640px)
		padding: 20px 0
		flex(mid)
		fl()
	flex(between)
	padding: 50px 0
	border-top 1px solid #e3e3e3
	border-bottom 1px solid #e3e3e3
.cart-deliver-img
	+below(640px)
		width: 40%
	width: 30%
	margin-right: 5%
.cart-deliver-cont
	+below(640px)
		width: 100%
	width: 60%
.cart-deliver-title
	+below(640px)
		text-align: center
	color $title-color
	font-family Pusia
	font-size 28px
	margin-bottom: 10px
.cart-deliver-text
	+below(640px)
		text-align: center
	@extend .type--main
	line-height: 1.6



.lk
	+below(768px)
		max-width 640px
		margin-left: auto
		margin-right: auto
	f()
	fw()
	justify-content:space-between
	align-items: flex-start
.lk__title
	+below(768px)
		padding-top: 0
	@extend .page-title
.lk-wrap
	+below(768px)
		width: 100%
	width: 66%
.lk__list
	@extend .card
	background: white
	padding: 40px 40px 55px 40px
	margin-bottom: 75px
.lk__el
	+below(640px)
		fw()
		flex(mid)
		fl()
	flex(between)
	padding: 25px 0px 25px 0
	border-bottom 1px solid #e3e3e3
	&:first-child
		margin-top: -20px
.lk__img
	+below(640px)
		margin-right: 0
		margin-bottom: 20px
	size 100px
	bg-full()
	margin-right: 10%
.lk__content
	+below(640px)
		width: 100%
		text-align: center
		max-width 300px
		margin-bottom: 20px
	@extend .type--main
	width: 45%
	line-height: 1.6
	color #6d6680
//.lk__price

.basket__el-price
	color #6d6680
.basket__el-incr
	margin-top: auto

.lk__val
	+below(640px)
		margin-left:initial
		text-align: center
	margin-left:auto
	color #6d6680
.lk-get
	+below(640px)
		fw()
		fl()
	flex(mid)
	margin-top: 35px
	.btn--light
		margin-right: 20px
	.btn--md
		+below(768px)
			padding: 20px
		+below(640px)
			width: 100%
			font-size: 14px
			margin-right: 0!important
			margin-bottom: 20px
.lk__header
	+below(640px)
		flex(mid)
		fl()
	f()
	justify-content: space-between
	align-items: flex-start
.lk__header-title
	+below(640px)
		margin-bottom: 20px
	@extend .type--md
	up()
.lk__info
	+below(640px)
		margin-left:initial
		text-align: center
	margin-left: auto
.lk__info-text
	text-align: right
	color #372f4b
	line-height: 1.6

.profil
	+below(768px)
		width: 100%
		margin-bottom: 20px
		padding: 40px 0
	width: 32%
	@extend .card
	background: white
	padding: 50px 0 60px 0
	flex(mid)
	fl()
.profil__avatar
	flex(mid)
	round()
	background: #f2eff8
	size 170px
	margin-bottom: 30px
	.icon
		size 80px
		fill #d7d2e0

.profil__surname
	@extend .type--md
	up()
	margin-bottom: 5px
.profil__name
	@extend .type--md
	up()
	margin-bottom: 20px
.profil__date
	color #6d6680
	@extend .type--main
	margin-bottom: 30px
.profil__phone
	opacity 0.8
	color #6d6680
	@extend .type--main
	margin-bottom: 5px
.profil__mail
	opacity 0.8
	color #6d6680
	@extend .type--main
	margin-bottom: 40px
.profil__adress
	opacity 0.8
	color #6d6680
	@extend .type--main
	margin-bottom: 40px
//.profil__edit

.btn--modal
	+below(640px)
		font-size: 14px
		width: 100%
		padding: 20px
	font-size: 18px

.modal-head--tab
	flex(mid)
.modal-title__el
	@extend .type--md
	up()
	cp()
	tr(all)
	color #ac97d9
	margin: 0 30px
	z-index 2
	&:hover
		color: white
.modal-title__el--active
	color white
//.modal-info
.modal-tab
	height: 1px
	margin: -1px
	width: 1px
	padding: 0
	clip rect(0 0 0 0)
	opacity: 0
	overflow: hidden
.modal-tab--active
	height: auto
	clip initial
	margin:0
	opacity: 1
	width: auto
	transition opacity 1.4s
.input-row
	margin-bottom: 20px
//.input-row-title
//.input
.pass-fogot
	text-align: right
	opacity 0.7
	color #6d6680
	font-family Roboto
	margin-bottom: 30px
.modal-get
	cp()
//.btn-row--mid
//.btn--md
//.btn--mark
.btn--modal
	min-width:250px

//.btn--icon
//.nav-icon
.input-row-half
	flex(between)
	margin-bottom: 20px
.input-row-half__el
	width:48%
	input
		width: 100%
.personal-text
	@extend .type--main
	text-align: center
	opacity 0.8
	color #6d6680
	margin-top: 30px
	line-height: 1.6
.modal-soc
	+below(640px)
		margin-top: 30px
	border-top:1px solid #cccccc
	margin-top: 55px
	padding-top: 30px
.modal-soc-text
	opacity 0.8
	color #6d6680
	@extend .type--main
	text-align: center
	margin-bottom: 20px
.modal-soc-row
	flex(mid)
.modal-soc-el
	+below(640px)
		size 50px
	round()
	flex(mid)
	cp()
	tr(all)
	size 68px
	margin: 0 6px
	&:hover
		transform scale(1.05)
	.icon
		+below(640px)
			size 22px
		size 30px
		fill white
.modal-soc-el--inst
	background-color #ac28a1
	background-image linear-gradient(-60deg, #fffc00 0%, #ff0000 50%, #0a00b2 100%)
.modal-soc-el--twitter
	background-color #31bdf8

.modal-soc-el--fb
	background-color #4c3eb1

.modal-soc-el--vk
	background-color #3a7dd0

.modal--auth
	transform: scaleY(0)
	transform-origin: top
	transition: transform 0.26s ease

.news-el-wave
	position: absolute
	width: 200%
	height: 20px
	left: 0px
	bottom: -2px
	background-image: url(../img/footer.svg)
	background-size:cover
	background-repeat: no-repeat

.header-toggle
	+above(769px)
		display: none!important
	.icon
		size 15px
.header-toggle--active
	.header-toggle__menu
		display: none
	.header-toggle__close
		flex(mid)
.header-toggle__menu
	+below(640px)
		size 40px
	size 50px
	background: white
	flex(mid)
	round()
.header-toggle__close
	+below(640px)
		size 40px
	round()
	background: white
	display: none
	size 50px

.fixbody
	overflow: hidden
	position: fixed
	width:100%

.head--openmenu
	z-index 100
	height: 100vh!important
	overflow: scroll
	min-height 200px!important
	.head-wave
		display: none
	.header-mobile-cont
		flex(mid)
		fl()
.header-mobile-auth
	round()
	flex(mid)
	tr(all)
	cp()
	size 55px
	border 1px solid white
	margin: 40px 0
	&:hover
		background: white
		.icon
			fill $purple
	.icon
		tr(all)
		fill white
		size 20px

.header-mobile-call
	@extend .type--main
	text-decoration: underline
	color white
	opacity .5

.header-mobile-cont
	+above(641px)
		display: none!important


.header-mobile-phone
	color #ffffff
	font-family Pusia
	font-size 20px
	font-weight 700
	margin-bottom: 10px

.slider-item__img--one
	+below(640px)
		display: none
.slider-item__img--one-sm
	display: none
	+below(640px)
		display: block
		img
			max-width 380px
			margin: 0 auto
			width: 100%

.nice-select
	br(0)
	display: block
	color #000000
	font-size 14px
	font-weight 700
	height: auto
	line-height:auto
	width: 350px
	border-radius 20px
	.list
		width: calc(100% )
		left 0px
		br(0)
		border 0px solid $border-color
		border-top 0
		margin-top: 0
		border-radius 0 0 20px 20px

select.select-beauty
	display: none!important

.element-select
	padding: 20px 0

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color
 .nice-select.open
	border-radius 20px 20px 0 0

.cart__empty
	flex(mid)
	fl()

.cart__empty-wrap
	display: none
.cart__empty__text
	text-align: center
	color #6d6680
	font-family Roboto
	font-size 20px
	font-weight 400
	line-height: 1.6
	margin: 60px 0

.block-up
	+below(768px)
		margin-top: 0
	@extend .card
	background: white
	margin-bottom: 20px
	margin-top: -140px

.header-up
	flex(mid)
	border-bottom 1px solid #d4cee1
.header-up__text
	@extend .page-title

.treaple
	max-width 860px
	margin-left: auto
	margin-right: auto
	flex(mid)
.treaple__el
	&:nth-child(1)
		flex(mid)
		margin-right: auto
		width: 33%
	&:nth-child(2)
		padding: 45px 0
		border-left 1px solid #dadada
		border-right 1px solid #dadada
		width: 33%
		flex(mid)
	&:nth-child(3)
		flex(mid)
		margin-left: auto
		width: 33%
.deliver-text
	up()
	@extend .type--md
	line-height: 1.4
.deliver-date
	flex(mid)
.deliver-date__icon
	.icon
		size 30px
		fill #7d5dcf
		margin-right: 20px
.deliver-date__text
	color #7d5dcf
	width: 150px
	@extend .type--sm
	up()
	line-height: 1.6

.deliver-map
	height: 400px
	background: #f1ebff

.deliver
	f()
	justify-content: space-between
.deliver__col
	width: 49%
	@extend .card
	background: white
	padding: 50px
	textarea
		width: 100%
.deliver__el
	f()
	justify-content: space-between
	margin-bottom: 50px
.deliver__el-icon
	round()
	flex(mid)
	background: #ebe5ff
	margin-right: 30px
	size 60px
	.icon
		size 30px
		fill #9475ff
.deliver__el-cont
	width:calc(100% -  90px)

.deliver__el-title
	font-family Pusia
	font-size 20px
	margin-bottom: 20px
.deliver__el-text
	color #2e2e2e
	line-height: 1.6

.deliver__title
	@extend .type--md
	up()
	margin-bottom: 35px
//.input-row
//.input-row-title
//.input
//.input-row-half
//.input-row-half__el
.deliver__get
	flex(between)
.deliver__get-text
	width: 70%
	opacity 0.8
	color #6d6680
	line-height: 1.6
	font-size: 12px
	margin-right: 20px
//.btn--md
//.btn--mark
//.btn--icon
//.nav-icon