
@font-face
	font-family: 'Roboto'
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),url('../fonts/Roboto-Regular.woff') format('woff')
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'Pusia'
	src: url('../fonts/Pusia-Bold.woff2') format('woff2'),url('../fonts/Pusia-Bold.woff') format('woff')
	font-weight: 700
	font-style: bold

@font-face
	font-family: 'Pusia'
	src: url('../fonts/Pusia-ExtraBold.woff2') format('woff2'),url('../fonts/Pusia-ExtraBold.woff') format('woff')
	font-weight: 900
	font-style: normal

