-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Каталог',
			'href':'list'
		},
		{
			'name':'Новости',
			'href':'news'
		},
		{
			'name':'Карточка товара',
			'href':'detail'
		},
		{
			'name':'Маркет',
			'href':'bonus'
		},
		{
			'name':'Корзина',
			'href':'basket'
		},
		{
			'name':'Новости подробная',
			'href':'news-detail'
		},
		{
			'name':'Кабинет',
			'href':'lk'
		},
		{
			'name':'Доставка',
			'href':'deliver'
		},
		{
			'name':'Контакты',
			'href':'contact'
		}
	]

