mixin header()
	//block header
	.head
		.wave-bg
		.head-wave
		.main-cont
			.header
				.header-toggle
					.header-toggle__menu
						+icon("menu","icon")
					.header-toggle__close
						+icon("close","icon")

				.header-phone
					.header-phone__icon.modal-get(data-modal="callback")
						+icon("phone","icon")
					.header-phone__info
						a(href="tel:8 800 333 86 63").header-phone__numb 8 800 333 86 63
						.header-phone__callback.modal-get(data-modal="callback") Обратный звонок
				a(href="/").header-logo
					+icon("logo","icon")
				.header-personal
					.header-login
						.header-login__icon.modal-get(data-modal="enter")
							//для не залогиненного поменять иконку на #login
							+icon("profile","icon")
						//.header-basket.header-basket--empty
						.header-basket
							.header-basket__icon
								+icon("cart","icon")
							.header-basket__price 2 220 руб.
							.header-basket__val 12
							.basket
								.basket--close
									+icon("close","icon")
								.basket__title моя корзина
								.basket__list
									- for (var i=0;i<5;i++)
										.basket__el
											a(href="#" style="background-image:url('img/item.png')").basket__el-img
											a(href="#").basket__el-inf Йогурт с абрикосом, миндалем и гранолой, 245 грамм, 2,7-3,5 %Йогурт с абрикосом, миндалем и гранолой, 245 грамм, 2,7-3,5%
											.basket__el-val
												.basket__el-price Цена: 350 руб.
												.basket__el-incr
													+incr()
								.basket__total 2 220 руб.
								.basket__get
									a(href="#").btn--md.btn--light В корзину
									a(href="#").btn--md.btn--mark оформить

		.header__nav-cont
			.header__nav
				a(href="#").header__nav-el.header__nav-el--active Продукция
				-
					var items = [
						'О молоке',
						'Экспертное мнение',
						'О доставке',
						'Новости',
						'Контакты'
						];
				each item in items
					a(href="#").header__nav-el #{item}
			.header-mobile-cont
				.header-mobile-auth.modal-get(data-modal="enter")
					+icon("profile","icon")
				a(href="call:8 800 333 86 63").header-mobile-phone 8 800 333 86 63
				.header-mobile-call.modal-get(data-modal="callback") Обратный звонок
	//block header end